.addJoke-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.addJoke {
	background-color: white;
	border-radius: 10px;
	width: 400px;
	height: 400px;
}

.addJoke h2, .button {
	font-size: 40px;
	text-align: center;
}

/*textarea {
	white-space: pre-wrap;
}*/