
.login-container {
	display: flex;
	flex-direction: column;
}
.login {
	background-color: white;
	width: 500px;
	border-radius: 10px;
	align-self: center;
}

.login h2 {
	text-align: center;
}

.button-login, .register {
	text-align: center;
}

.register {
	color: blue;
}

.register:hover {
	text-decoration: underline;
	cursor: pointer;
}
